<section class="view intro-2 rgba-gradient mt-5">
        <div class="mask">
            <div class="container h-100 d-flex justify-content-center align-items-center">
                <div class="row flex-center pt-5 mt-3">
                    <div class="col-md-12 col-lg-6 text-center text-md-left margins">
                        <div class="white-text">
                            <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">
                                اپلیکیشن آموزشی ورزشی فیتکس

                            </h1>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <h3 class="wow fadeInLeft font-small font-weight-bold" data-wow-delay="0.3s">
                                فیتکس یه اپلیکیشن هستش که به شما برای تناسب اندامتون کمک میکنه و بهتون برنامه و اموزش حرکات ورزشی رو میده که بتونید هرجا حتی در منزل بدون نیاز به رفتن به باشگاه ورزش و تمرین خودتونو شروع کنید
                            </h3>
                            <br>
                            <a class="btn btn-white btn-rounded blue-text font-weight-bold ml-lg-0 wow fadeInLeft"
                               data-wow-delay="0.3s" href="https://github.com/fitexapp/app/releases/download/latest/fitex.apk">دانلود نرم افزار</a>

                        </div>
                    </div>

                    <div class="col-md-12 col-lg-6  wow fadeInRight header-img flex-center" data-wow-delay="0.3s">
                        <img src="fitex-compressor.png" alt="" class="img-fluid flex-center">
                    </div>
                </div>
            </div>
        </div>
    </section>

</header>

<div class="feture container text-center" id="feture">
    <section class="section wow fadeIn" data-wow-delay="0.3s"
             style="visibility: visible; animation-name: fadeIn; animation-delay: 0.3s;">


        <h2 class="font-weight-bold text-center h1 my-5">ویژگی های فیتکس</h2>
        <hr>


        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-4 d-flex justify-content-center flex-column">

                <!--Grid row-->
                <div class="row mb-2">

                    <div class="col-12">
                        <h5 class="font-weight-bold mb-4">ارائه برنامه های تمرینی</h5>
                        <p class="grey-text">فیتکس متناسب با هر سطحی که هستید به شما برنامه میده تا به تناسب اندام
                            دلخواهتون برسید</p>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row mb-2">

                    <div class="col-12">
                        <h5 class="font-weight-bold mb-4">مجله آموزشی و ورزشی</h5>
                        <p class="grey-text">فیتکس یه <a href="">مجله آموزشی ورزشی </a>داره که بهتون نکات اموزشی
                            مفیدی ارائه میده تا بتونید سبک زندگی خودتونو بهبود ببخشید </p>
                    </div>
                </div>
                <!--Grid row-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-2 text-center text-md-left flex-center img-feture">
                <img src="ir.fitex.app-055823928445-compressor.png" alt="" class="z-depth-0 img-fluid">
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 d-flex justify-content-center flex-column">

                <!--Grid row-->
                <div class="row mb-2">

                    <div class="col-12">
                        <h5 class="font-weight-bold mb-4">آموزش حرکات ورزشی</h5>
                        <p class="grey-text">فیتکس به شما نحوه انجام صحیح حرکات ورزشی رو میگه تا به صورت اصولی ورزش
                            خودتونو شروع کنید</p>
                    </div>
                </div>

                <div class="row mb-2">

                    <div class="col-12">
                        <h5 class="font-weight-bold mb-4">درصد پیشرفت شما</h5>
                        <p class="grey-text">شما با شروع کردن ورزش با فیتکس میتونید از درصد پیشرفت خودتون در برنامه
                            های تمرینی با خبر بشید</p>
                    </div>
                </div>

            </div>


        </div>


    </section>

</div>

<div class="programs container mt-5" id="program">
    <section class="text-center my-5 wow fadeIn" data-wow-delay="0.3s"
             style="visibility: visible; animation-name: fadeIn; animation-delay: 0.3s;">


        <h3 class="h1-responsive font-weight-bold text-center my-5">برنامه ها</h3>
        <p class="grey-text ">برنامه ها و ویژگی هرکدوم از برنامه ها به صورت زیره با توجه به نیازتون میتونید هرکدوم
            از
            برنامه هارو انتخاب کنید و ورزش رو شروع کنید</p>

        <hr class="my-5">


        <div class="row mt-5">


            <div class="col-lg-3 col-md-12 mb-lg-0 mb-4">


                <div class="my-card  mt-3 z-depth-1">
                    <div class="my-card-title bg-warning">
                        <h3 class="mb-4">مبتدی در خانه</h3>
                    </div>


                    <div class="my-card-body">





                        <h5 class=""><del><i>10,000تومان</i></del></h5>
                        <h4 class="my-5">7,00تومان</h4>

                        <ul>
                            <li>مناسب برای افراد مبتدی</li>
                            <hr>
                            <li > اگه میخواین تازه ورزش رو شروع کنید !</li>
                            <!--<hr>-->
                            <!--<li>بدون نیاز به تجهیزات خاصی</li>-->
                            <!--<hr>-->

                        </ul>


                    </div>
                    <!-- Content -->

                </div>


            </div>
            <div class="col-lg-3 col-md-12 mb-lg-0 mb-4">


                <div class="my-card  mt-3 z-depth-1">
                    <div class="my-card-title bg-danger">
                        <h3 class="mb-4"> نیمه حرفه ای  </h3>
                    </div>


                    <div class="my-card-body">





                        <h5 class=""><del><i>15,000تومان</i></del></h5>
                        <h4 class="my-5">9,000تومان</h4>


                        <ul>
                            <li>مناسب برای افراد مبتدی</li>
                            <hr>
                            <li>اگه سابقه ورزشی دارین !</li>
                            <!--<hr>-->
                            <!--<li>بدون نیاز به تجهیزات خاصی</li>-->
                            <!--<hr>-->

                        </ul>


                    </div>
                    <!-- Content -->

                </div>


            </div>
            <div class="col-lg-3 col-md-12 mb-lg-0 mb-4">


                <div class="my-card mt-3  z-depth-1">
                    <div class="my-card-title bg-info">
                        <h3 class="mb-4">  پیشرفته در خانه</h3>
                    </div>


                    <div class="my-card-body">
                        <h5 class=""><del><i>20,000تومان</i></del></h5>
                        <h4 class="my-5">10,000تومان</h4>
                        <ul>
                            <li>مناسب برای افراد مبتدی</li>
                            <hr>
                            <li>اگه آمادگی جسمانیتون تا حدی مناسبه! </li>
                            <!--<hr>-->
                            <!--<li>بدون نیاز به تجهیزات خاصی</li>-->
                            <!--<hr>-->

                        </ul>
                    </div>
                </div>


            </div>
            <div class="col-lg-3 col-md-12 mb-lg-0 mb-4">


                <div class="my-card  mt-3 z-depth-1 ">
                    <div class="my-card-title bg-primary">
                        <h3 class="mb-4">   حرفه ای در خانه</h3>
                    </div>


                    <div class="my-card-body">





                        <h5 class=""><del><i>25,000تومان</i></del></h5>
                        <h4 class="my-5">10,000تومان</h4>
                        <ul>
                            <li>مناسب برای افراد مبتدی</li>
                            <hr>
                            <li>اگه یه ورزشکار هستین!</li>
                            <!--<hr>-->
                            <!--<li>بدون نیاز به تجهیزات خاصی</li>-->
                            <!--<hr>-->

                        </ul>


                    </div>
                    <!-- Content -->

                </div>


            </div>

        </div>


    </section>

</div>

<div class="last-mag bg-light pb-4 ">
    <div class="container">


        <h2 class="text-center h2 my-5 pt-4">  مطالب اخیر مجله </h2>

        <div class="row text-center mb-2 my-mag-card-row justify-content-md-between">


            <% headers.forEach(course => { %>

            <div class="col-lg-4 col-md-12 mb-4 ml-1 my-mag-card">

                <div class="view overlay  mb-2">
                    <img src="<%= course.thumb %>" class="img-fluid w-100"
                         alt="First sample image">
                    <a href="<%= course.path() %>">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <h2 class="mb-2 mt-4 font-weight-bold article-title"><a href="<%= course.path() %>"><%= course.title %></a> </h2>


                <div class="row card-tags">


                    <div class="col-lg-6 col-md-6 text-lg-right tags ">
                        <p class="grey-text">
                            <i class="far fa-calendar-alt"></i><%= date(course.createdAt).format('jD jMMMM jYYYY') %>
                            </p>
                    </div>



                    <div class="col-lg-6 col-md-6 text-lg-left tags">
                        <p class="grey-text">
                            <i class="far fa-clock-o" aria-hidden="true"></i> <%= course.timeline %></p>
                    </div>


                </div>
                <p class="dark-grey-text article-text"><%- course.sum.substr(0,130)%>...</p>
                <a class="text-uppercase font-small font-weight-bold spacing btn see-btn" href="#">مشاهده <i
                            class="fad fa-chevron-double-left"></i></a>

            </div>


            <% }) %>





        </div>

        <div class="see-more text-center ">
            <a href="/posts" class="btn btn-primary">مطالب بیشتر<i class="fad fa-arrow-left"></i></a>
        </div>

    </div>


</div>
