    <div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
        <h2>ویرایش مقاله</h2>
    </div>
    <form class="form-horizontal" action="/admin/courses/<%= course._id %>?_method=put" method="post" enctype="multipart/form-data">

        <%- include(viewPath('layouts/error-messages')) -%>

        <div class="form-group row">
            <div class="col">
                <label for="title" class="control-label font-weight-bold">عنوان مقاله</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="عنوان را وارد کنید" value="<%= course.title %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="type" class="control-label font-weight-bold font-weight-bold">نوع مقاله</label>
                <select name="type" id="type" class="form-control">
                    <option value="vip" <%= course.type === 'vip' ? 'selected' : '' %> >اعضای ویژه</option>
                    <option value="cash" <%= course.type === 'cash' ? 'selected' : '' %> >نقدی</option>
                    <option value="free" <%= course.type === 'free' ? 'selected' : '' %>>رایگان</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="categories" class="control-label font-weight-bold font-weight-bold ">دسته بندی</label>
                <select name="categories" id="categories" class="form-control form-control-chosen" data-placeholder="دسته بندی مورد نظر ..." multiple>
                    <% categories.forEach(cate => { %>
                    <option value="<%= cate.id %>"<%= course.categories.indexOf(cate.id) !== -1 ? 'selected' : ''%> ><%= cate.name %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="form-group row">
          <div class="col">
              <label for="body" class="control-label font-weight-bold">متن</label>
              <textarea rows="5" class="form-control" name="body" id="body" placeholder="متن مقاله را وارد کنید"><%= course.body %></textarea>
          </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="sum" class="control-label font-weight-bold">متن خلاصه </label>
                <textarea rows="10" class="form-control" name="sum" id="sum" placeholder="متن خلاصه مقاله را وارد کنید"><%= course.sum %></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="author" class="control-label font-weight-bold">نام نویسنده </label>
                <textarea rows="2" class="form-control" name="author" id="author" placeholder="نام نویسنده مقاله را وارد کنید"><%= course.author %></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="timeline" class="control-label font-weight-bold">مدت زمان مطالعه </label>
                <textarea rows="1" class="form-control" name="timeline" id="timeline" placeholder="مدت زمان مطالعه مقاله را وارد کنید"><%= course.timeline %></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="images" class="control-label font-weight-bold">تصویر مقاله</label>
                <input type="file" class="form-control" name="images" id="images" placeholder="تصویر مقاله را وارد کنید" >
            </div>
        </div>
        <div class="form-group row">
            <% Object.entries(course.images).forEach(([size , image]) => { %>
                <div class="col-sm-2">
                    <label class="control-label">
                        <%= size %>
                        <input type="radio" name="imagesThumb" value="<%= image %>" checked="">
                        <a href="<%= image %>" target="_blank"><img src="<%= image %>" width="100%"></a>
                    </label>
                </div>
            <% }) %>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="price" class="control-label font-weight-bold">قیمت</label>
                <input type="text" class="form-control" name="price" id="price" placeholder="قیمت ها را وارد کنید" value="<%= course.price %>">
            </div>
            <div class="col">
                <label for="tags" class="control-label font-weight-bold">تگ ها</label>
                <input type="text" class="form-control" name="tags" id="tags" placeholder="تگ ها را وارد کنید" value="<%= course.tags %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <button type="submit" class="btn btn-danger">ارسال</button>
            </div>
        </div>
    </form>
    <script src="/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('body' , {
            filebrowserUploadUrl : '/admin/upload-image'
        })

    </script>

    <link rel="stylesheet" href="/css/component-chosen.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.6/chosen.jquery.min.js"></script>
    <script>
        $('.form-control-chosen').chosen({});
    </script>