<!--nav with category-->
<div class="row text-center  mb-2 my-card-row  posts-section" >


    <% courses.docs.forEach(course => { %>
    <div class="col-lg-4 col-md-12 mb-4  my-card" style="margin-top: 20px">

        <div class="view overlay  mb-2">
            <img src="<%= course.thumb %>" class="img-fluid w-100" alt="First sample image">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <h2 class="mb-2 mt-4 font-weight-bold article-title"><a href="<%= course.path() %>"><%= course.title %></a></h2>


        <div class="row card-tags">


            <div class="col-lg-6 col-md-6 text-lg-right tags">
                <p class="grey-text">
                    <i class="far fa-calendar-alt"></i><%= date(course.createdAt).format('jD jMMMM jYYYY') %></p>
            </div>



            <div class="col-lg-6 col-md-6 text-lg-left tags">
                <p class="grey-text">
                    <i class="far fa-clock-o" aria-hidden="true"></i> <%= course.timeline %></p>
            </div>


        </div>
        <p class="dark-grey-text article-text"><%- course.sum.substr(0,180)%>...</p>
        <a class="text-uppercase font-small font-weight-bold spacing btn see-btn" href="<%= course.path() %>">مشاهده <i
                class="fad fa-chevron-double-left"></i></a>

    </div>
    <% }) %>



</div>
<div class="pt-5">
    <%- include(viewPath('layouts/pagination') ,{ pagination : courses}) %>
</div>
<!--<nav class="my-4 flex-center">-->
    <!--<ul class="pagination pagination-circle pg-blue mb-0">-->

     <!---->

       <!---->
        <!--<li class="page-item disabled">-->
            <!--<a class="page-link" aria-label="Previous">-->
               <!--<i class="fad fa-chevron-double-right"></i>-->
            <!--</a>-->
        <!--</li>-->

     <!---->
        <!--<li class="page-item active">-->
            <!--<a class="page-link">1</a>-->
        <!--</li>-->
        <!--<li class="page-item">-->
            <!--<a class="page-link">2</a>-->
        <!--</li>-->
        <!--<li class="page-item">-->
            <!--<a class="page-link">3</a>-->
        <!--</li>-->
        <!--<li class="page-item">-->
            <!--<a class="page-link">4</a>-->
        <!--</li>-->
        <!--<li class="page-item">-->
            <!--<a class="page-link">5</a>-->
        <!--</li>-->

        <!---->
        <!--<li class="page-item">-->
            <!--<a class="page-link" aria-label="Next">-->
                <!--<i class="fad fa-chevron-double-left"></i>-->
            <!--</a>-->
        <!--</li>-->


    <!--</ul>-->
<!--</nav>-->




